@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+TC&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Gilroy-Bold', 'Noto Sans TC', sans-serif;

}

html,
body {
  height: 100%;
  width: 100%;
  background: #1b1b1b;
  color: #f5f5f5;
}

main {
  width: 100vw;
  height: 100vh;

  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}



.container_loop {
  height: 16vw;
  display: block;
  /* height: 15%; */
  width: 100%;
}

.loop {
  position: absolute;
  overflow: hidden;
  top: 0%;
  height: auto;
  width: 100vw;

  /* background-color: #2f2f2f; */
  font-size: Max(1rem, Min(8rem, calc(100vw * 8/75)));

  white-space: nowrap;

}

.loop>h1 {

  /* font-weight: 400; */
  animation: anim 20s linear infinite;
}

.loop>h1>span {
  -webkit-text-stroke: 1.2px #fff;
  color: transparent;
  font-weight: 500;
}


#showbox {
  /* flex-grow: 1; */
  /* margin-top: 25vh; */
  width: 100%;
  height: auto;
  /* background-color: #2f2f2f; */
  font-size: Max(1rem, Min(10rem, calc(100vw * 10 /75)));
  line-height: Max(1rem, Min(10rem, calc(100vw * 10 /75)));
  text-align: center;
  justify-content: center;
  font-family: 'alarm clock', sans-serif;
}

.menuL {

  font-size: Max(1rem, Min(3rem, calc(100vw * 5 /75)));
  line-height: Max(1rem, Min(3rem, calc(100vw * 5 /75)));
  width: 70vw;
  text-align: center;
  padding-top: 10px;
  border: #2f2f2f;
  border-style: solid;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
}

/* .menuL > div {
  margin: 15px 15px;
} */
.nextTaskContainer{
  margin: 15px;
  line-height: Max(1rem, Min(1.3rem, calc(100vw * 2.5/75)));
  font-size: Max(1rem, Min(1.3rem, calc(100vw * 2.5/75)));
  color: #00C896;
}

#pastTaskTittle {
  line-height: Max(1rem, Min(1.2rem, calc(100vw * 1.5/75)));
  font-size: Max(1rem, Min(1.2rem, calc(100vw * 1.5/75)));
  /* display: block; */
  /* text-align: start; */
  text-decoration: underline;
}

#nextTaskTittle {
  line-height: Max(1rem, Min(1.2rem, calc(100vw * 1.5/75)));
  font-size: Max(1rem, Min(1.2rem, calc(100vw * 1.5/75)));
  display: block;
  /* text-align: start; */
  /* text-decoration: underline; */
}


#pastTask {
  margin: 15px;
  line-height: Max(1rem, Min(1.3rem, calc(100vw * 2.5/75)));
  font-size: Max(1rem, Min(1.3rem, calc(100vw * 2.5/75)));
}

/* #nextTask {
  margin: 15px;
  line-height: Max(1rem, Min(1.3rem, calc(100vw * 2.5/75)));
  font-size: Max(1rem, Min(1.3rem, calc(100vw * 2.5/75)));
} */

.line-br{
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 1px;
background-color:   #2f2f2f;
}

.soundSelect {
  margin-bottom: 15px;

  /* position: relative; */
  text-align: center;
  /* vertical-align: bottom; */
  font-size: Max(1rem, Min(1.3rem, calc(100vw * 2.5/75)));

  line-height: Max(1rem, Min(1.3rem, calc(100vw * 2.5/75)));
}

.soundSelect>i {
  font-size: Max(1rem, Min(1rem, calc(100vw * 1/75)));
  line-height: Max(1rem, Min(1rem, calc(100vw * 1/75)));
  margin: 0 0;
  padding: 0;
  /* bottom: 1vh;
  left: 28vw; */
  /* position: absolute; */
}

.soundSelect > .playAudio {
  cursor: pointer;
  display: inline;
  margin: 5px;
  font-size: Max(1.5rem, Min(1.5rem, calc(100vw * 1.5/75)));
  line-height: Max(1.5rem, Min(1.5rem, calc(100vw * 1.5/75)));
}

.soundSelect > .playAudio:hover{
  color: #C8FCEA;
}

.soundSelect > .stopAudio {
  cursor: pointer;
  display: inline;
  margin: 5px;
  font-size: Max(1.5rem, Min(1.5rem, calc(100vw * 1.5/75)));
  line-height: Max(1.5rem, Min(1.5rem, calc(100vw * 1.5/75)));
}

.soundSelect > .stopAudio:hover {
  color: #C8FCEA;
}

/* .button {
  border-radius: 4px;
  background-color: transparent;
  color: white;
  border: 2px solid #4CAF50;
  font-size: 20px;
  padding: relative;
  width: relative;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
} */

@keyframes anim {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}